<div id="prompt-background">
  <div id="age-check-prompt" class="modal-prompt">
    <h1>
      
Adults only (18+)

    </h1>
    <p>
      
This website contains adult material and is only suitable for those 18 years or older. Click Enter only if you are at least 18 years of age.

    </p>
    <div style="display:none;">
      <select name="bmonth" id="bmonth" value="1">
        
      </select> 
      <select name="bday" id="bday" value="1">
        
      </select>
      <select name="byear" id="byear" value="1950">
        
      </select>
      <div style="clear:both; margin-bottom:15px"></div>
    </div>
    <button id="submit_birthdate" class="button-enter btn styled-submit" onclick="ageCheck()" style="display:inline-block">Enter</button> 
    <span style="padding: 0 4px">or</span>
    <a href="http://rageon.com/" id="button-exit" name="button-exit">Exit</a>
  </div>
</div>

<script>
 function ageCheck() {
   var min_age = 18;  // Set the minimum age. 
   var year =   parseInt(document.getElementById('byear').value);
   var month =  parseInt(document.getElementById('bmonth').value);
   var day =    parseInt(document.getElementById('bday').value);
   var theirDate = new Date((year + min_age), month, day);
   var today = new Date;
   if ((today.getTime() - theirDate.getTime()) < 0) {
     window.location = 'http://google.com'; //enter domain url where you would like the underaged visitor to be sent to.
   } else {
     var days = 14; //number of days until they must go through the age checker again.
     var date = new Date();
     date.setTime(date.getTime()+(days*24*60*60*1000));
     var expires = "; expires="+date.toGMTString();
     document.cookie = 'isAnAdult=true;'+expires+"; path=/";
     location.reload();
   };
  };
  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  };
  var isAnAdult = readCookie('isAnAdult');
  if (isAnAdult) {
    document.write("<style> #prompt-background { display: none; }</style>");
  };
</script>

<style>
.modal-prompt {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  width: 330px;
  height: auto;
  margin: 0 auto;
  padding: 20px 35px 30px 35px;
  position: relative;
  top: 25%;
  z-index: 1000000;
}
.modal-prompt p, .modal-prompt h1 {
  color: #555555;
}
#prompt-background {
  
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
}
  
.modal-prompt select { float: left; margin-right: 10px; }
</style>

<style>
#product-description {
	margin-top: 0;
}
#product-description h1 {
	font-weight: 600;
	font-size: 20px;
	line-height: 1em;
	padding-bottom: 2px;
}
#product-price .money {
	font-weight: 300;
	font-size: 19px;
	color: #00B2C7;
}
  
#product-price .money .money {
	font-weight: 300;
	font-size: 1.1em;
	color: #ec008c;
}

#product-price .was .money {font-size: 17px;}

#product-price {
	font-size: 18px;
	margin-bottom: 0;

}
#product-description form {
	margin-bottom: 0;
    margin-top: 8px;
}
#add.button {
	width: 271px;
	height: 46px;
	text-indent: -9999px;
	background: url(//cdn.shopify.com/s/files/1/0247/1049/t/39/assets/buy_me.png?7680612410302354828) no-repeat 0 0 ;
}
#add.button:hover {background: url(//cdn.shopify.com/s/files/1/0247/1049/t/39/assets/buy_me.png?7680612410302354828) no-repeat 0px -46px ;}
#add.button:active {background: url(//cdn.shopify.com/s/files/1/0247/1049/t/39/assets/buy_me.png?7680612410302354828) no-repeat 0px -93px ;box-shadow: none;}
  
#add.button.added {
	background: url(//cdn.shopify.com/s/files/1/0247/1049/t/39/assets/cart-dropdown-viewtote.png?7680612410302354828) no-repeat 0px -139px ;
}
#productbtn img {
	max-width: 170px;
}
.sorry {
	margin-left: 2px;
    margin-top: 15px;
	height: 60px;
}
#product-photos {
	float: left;
	overflow: hidden;
	display: table;
}
#product-photo-thumbs {
	border-top: 1px solid #ebebeb;
	padding: 15px 0;
	list-style-type: none;
	height: auto;
	width: 400px;
}
#product-photo-thumbs .product-photo-thumb {
	margin: auto auto 20px;
	float: left;
	background-color: transparent;
	cursor: pointer;
	width: 25%;
	text-align: center;
}
#product-photo-thumbs .product-photo-thumb img {
	max-width: 100px;
	max-height: 100px;
	opacity: 0;
	height: 106px;
	width: auto;
	float: none;
}
#product-photo-thumbs .product-photo-thumb:nth-child(4n+1) {
	margin-left: 0;
}
#product-photo-thumbs .product-photo-thumb:nth-child(4n) {
	margin-right: 0;
}
#product-photo-container {
	display: table-cell;
	width: 100%;
	min-height: 400px;
	max-height: 500px;
	text-align: center;
	position: relative;
	overflow: hidden;
	margin: auto;
}
.recomatic-wrap div.recomatic-title {
	font-weight: 500;
	font-size: 11px !important;
}
.recomatic-wrap div.recomatic-price {
	font-size: 11px;
	color: #000;
}
  
  .recomatic-wrap.recomatic-product {clear: none;}

.recomatic-image {
  border:1px solid #ededed !important;
}

</style>