<!-- /templates/page.press.liquid -->






<div class="press-page grid">
  <img class="press-banner grid__item one-whole" src="{{ 'press-banner.png' | asset_url }}" alt="RageOn! Press Page Banner" />
	{{ page.content }}
</div>